
@{
	ViewData["Title"] = "Portfolio Adrian Cygnar";
	ViewData["Author"] = "Adrian Cygnar";
	ViewData["Date"] = DateTime.Now.Year;
}
<!DOCTYPE html>
<html>
<head>
	<title>@ViewData["Title"]</title>
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/mysite.css">
</head>
<body>
	<nav class="navigation">
		<div class="navlist">

			<ul>
				<li>
					<div class="logo">
						<img src="~/images/Logo.png" />
					</div>
				</li>
				<li class="navtext"><a asp-area="" asp-controller="About" asp-action="About">O mnie</a></li>
				<li class="navtext"><a asp-area="" asp-controller="Projects" asp-action="Projects">Projekty</a></liclass="navtext">
				<li class="navtext"><a asp-area="" asp-controller="Contact" asp-action="Contact">Kontakt</a></li>
			</ul>
		</div>
	</nav>
	<div class="container body-content">
		@RenderBody()
	</div>
	<div class="footer">
		<hr />
		<footer>
			<p>&copy; @ViewData["Date"] - @ViewData["Author"]</p>
		</footer>
	</div>
</body>
</html>
